<br>
<div class="container"style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
<div class="about-section">
  <h1 style="font-family: 'Times New Roman';"><strong>ABOUT  US</strong></h1>
  <br>
  <p style="text-align: center;">We offer the best products for users and made it avaliable all over the world with best brands and best products.</p>
  <p style="text-align: center;">We provide you the better facilities.</p>
</div>
</div>
<br>
<br>
     <div class="container" style="font-family:'Times New Roman';font-weight: 400;">
        <p>Estore is a vast Internet-based enterprise that sells clothes, housewares, electronics, toys, and many other goods, either directly or as the middleman between other retailers and Estore's  customers.Estore launched an express delivery service on its app to offer one of a kind of experience
          by fashion platform. This service allow shoppers to receive their orders for products marked with ‘E-express tag’ on the listing page within 24-48 hours of purchase.</p>
     </div>
     <br>
     <h2 style="text-align:center; font-family: 'Times New Roman';"><strong>OUR TEAM</strong></h2>
     <div class="row">
       <div class="column">
         <div class="card">
           <br>
           <div class="container">
             <h2 style="text-align:center;font-size:large;color:rgb(195, 73, 73)">Gill Andrews</h2>
             <p style="text-align: center;">I understand all the bussiness logics and helps the organization in improving the bussiness.</p>
             <p style="text-align: center;">gillandrews@estore.com</p>
           </div>
         </div>
       </div>
     
       <div class="column">
         <div class="card">
           <br>
           <div class="container">
             <h2 style="text-align:center;font-size:large;color:rgb(195, 73, 73)">Jhon Wick</h2>
             <p style="text-align:center;">I manage all the arrival new products and brands into the market and made it avaliable to the people.</p>
             <p style="text-align: center;">jhon@estore.com</p>
           </div>
         </div>
       </div>
       
       <div class="column">
         <div class="card">
           <br>
           <div class="container">
             <h2 style="text-align:center;font-size:large;color:rgb(195, 73, 73)">James Chadwik</h2>
             <p style="text-align:center;">I manage the website releated activities across the world and control the activities and find them.</p>
             <p style="text-align:center">james@estore.com</p>
           </div>
         </div>
       </div>
     </div>