.column {
    float: left;
    width: 23.3%;
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 120px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 10px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width:720px) {
    .column {
      width: 70%;
      display: block;
    }
  }