<table class="table table-info">
  <thead class="table-dark">
  <tr >
    <th scope="col">#</th>
    <th scope="col">Id</th>
	<th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
	<th scope="col">city</th>
  <th scope="col">operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let retailer of retailers | async;index as i">
    <th scope="row">{{ i + 1 }}</th>
   <td>{{ retailer.id }}</td>
            <td>{{ retailer.fname }}</td>
            <td>{{ retailer.lname}}</td>
            <td>{{ retailer.email}}</td>
            <td>{{ retailer.city }}</td>
            <td><button (click)="deleteretailer(retailer.id)" class="btn btn-danger">Delete</button>
  </tr>
  </tbody>
</table>