
    <div class="panel-heading">

    </div>
    <div class="panel-body">
      <table class="table table-info">
        <thead class="table-dark">
          <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Make In</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.madein }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
          <td><button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
              <button (click)="editProduct(product.id)" class="btn btn-secondary" style="margin-left: 10px">Update</button>
                <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
