<br>
<div class="container" style="background-image:url(../assets/images/likivij.jpeg) ">
<div class="row h-100" style="margin-bottom:10px;">
  <div class="col-sm-12 my-auto">
    <div style="text-align:center" style="margin-top:30px;">
     <h2 style="text-align:center;font-family: 'Cambria';"><strong>Contact Us</strong></h2>
     <br>
     <p>Swing by for a cup of coffee, or leave us a message</p>
     <p>Our supporting team is spread across the globe to give you answer fast.</p>
      <p>Your message will help to improve our website and make it more convinent to the users.</p>
      <p>You can also contact us at any situation and at any time by phone call and E-mail </p>
      <br>
      <p>Thanks for your valuable Message.</p>
    </div> 
  </div>
  </div>
</div>
<br><br>
<h2 style="text-align:center; font-family: 'Cambria';"><strong>Office Locations</strong></h2>
<div class="row">
   <div class="column">
     <div class="card">
       <div class="container">
         <br>
         <h2 style="text-align:center;font-size:large;color:rgb(0, 102, 255);">San Francisco, USA</h2>
         <br>
         <p>120 Beghil Drive,Suite 315</p>
         <p>San Bruno,CA 94066</p>
         <p>Office: +1 650 513 0514 (Mon-Fri)</p>
         <p>Support: +1 650 511 0000 (Mon-Fri)</p>
         <p>Email: support-usa@estore.com</p>
       </div>
     </div>
   </div>
   <div class="column">
     <div class="card">
       <div class="container">
         <br>
         <h2 style="text-align:center;font-size:large;color:rgb(0, 102, 255);">Bangalore, India</h2>
         <br>
         <p>SP Infocity,Block P</p>
         <p>40 MGR Road,Bangalore 608 036</p>
         <p>Office: +91 44 6867 8080 (Mon-Fri)</p>
         <p>Support: +91 44 0067 8045 (Mon-Fri)</p>
         <p>Email: support-india@estore.com</p>
       </div>
     </div>
   </div>
   <div class="column">
     <div class="card">
      <div class="container">
      <br>
       <h2 style="text-align:center;font-size:large;color:rgb(0, 102, 255)">London, UK</h2>
       <br>
       <p>54 Fernchurch Street</p>
       <p>London,EC3N 3JY</p>
       <p>Office: +44 189 280 5040 (Mon-Fri)</p>
       <p>Support: +44 820 808 5780 (Mon-Fri)</p>
       <p>Email: support-uk@estore.com</p>
       </div>
     </div>
   </div>
 </div>