<!-- <h1 class="text-center" style="color: #0fb9b4;">Your Search Results</h1>
<div *ngIf="products">
    <div *ngFor="let product of products" class="d-flex p-5 m-4 justify-content-center">
        <img [src]="product.imgpath" style="width: 150px; height: 150px; float: left;">
        <p style="margin-left: 25px;">ProductName : {{ product.name }}<br><br> ProductBrand :
            {{product.brand}}<br><br> Price : {{product.price}}</p>
        <button style="background-color: #0fb9b4; width: 150px; height: 40px; margin-left: 20px; margin-top: 30px;"
            class="btn btn-success">Add to Cart</button>
        <button style="background-color: #0fb9b4; width: 150px; height: 40px; margin-left: 20px; margin-top: 30px;"
            class="btn btn-success">Add to Compare</button>
    </div>
</div> -->
